"*":
  core:
    disabledPackages: [
      "vim-mode"
      "relative-numbers"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 16
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "53ec3d16-573c-b1f3-b85e-3659b795773c"
  fonts:
    fontFamily: "FiraCode"
  "linter-ui-default":
    showPanel: true
  "relative-numbers":
    showAbsoluteNumbers: true
    startAtOne: true
    trueNumberCurrentLine: false
  welcome:
    showOnStartup: false
